<div class="card">
  <div class="card-body">

    <div class="alert alert-danger alert-dismissible" *ngIf="errorMessage != null">
      {{errorMessage}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="errorMessage = null"></button>
    </div>

    <form (submit)="createNews($event)">
      <div class="input-field">
        <div class="input-field-label">Headline of todo</div>
        <input name="headline" [(ngModel)]="headline" />
      </div>

      <div class="input-field">
        <div class="input-field-label">Content</div>
        <textarea name="content" [(ngModel)]="content" type="text"></textarea>
      </div>

      <div class="mb-3">
        <label class="custom-control-label">
          <input
            type="checkbox"
            class="custom-control-input"
            name="privateNote"
            [(ngModel)]="isPrivate"
          >
          Private note</label>
      </div>

      <button class="add-button" [disabled]="!canCreate">
        Add todo
      </button>
    </form>


  </div>
</div>
