<div class="alert alert-info" *ngIf="news.length == 0">
  No news available
</div>


<div *ngIf="news.length > 0">
  <div *ngFor="let n of reversedNews; let i = index"
       class="todo-tile"
       (click)="onSelect(n)"
       [class.selected]="n === selectedTodo">

    <div class="d-flex">

      <div class="badge">
        <div>{{n.publishedOn.toLocaleDateString()}}</div>
        <div>{{n.publishedOn.toLocaleTimeString()}}</div>
      </div>

      <div class="tile-content" *ngIf="n !== selectedTodo">
        <div><b>{{n.headline}}</b></div>
        <div [innerHTML]="getTrustedHtml(n.content)" *ngIf="allowHtmlContent"></div>
        <div *ngIf="!allowHtmlContent">
          {{n.content}}
        </div>
      </div>

      <wt2-news-details
        *ngIf="n === selectedTodo"
        [news]="n"
      ></wt2-news-details>
    </div>


  </div>
</div>
